/* main */
main {width:1200px; margin:0 auto;}
/* 상품 정렬 */
main > h2 {width:100%; margin:300px 0 50px;}
main h2 img {}
main .product_align {
    display:flex; align-items:center; justify-content:flex-end; padding-bottom:20px;
    border-bottom:1px solid #000;
}
main .product_align p {font-weight:700; padding-right:10px;}
main .product_align #align_list {background:none; }
main .product_align #align_list option {}
/* 상품리스트 */
main .container {
    width:100%; display:flex; flex-flow:row wrap; justify-content:space-between; 
    margin:50px 0;
}
main .container .item {
    height:590px; margin:30px; 
    display:flex; flex-flow:column nowrap; justify-content: space-between;
}
main .container .item .top {width:230px; text-align:center;}
main .container .item .top a {}
main .container .item .top a img {width:230px; height:380px;}
main .container .item .top a h2 {font-weight:700; line-height:23px; padding:20px 0;}
main .container .item .btm {
    width:230px; text-align:center;
    display:flex; flex-flow:column nowrap; justify-content:center; align-items:center;}
main .container .item .btm .star {display:flex; flex-flow:row nowrap; align-items:center;}
main .container .item .btm .star img {margin-right:2px;}
main .container .item .btm .star span {font-size: 0.75rem;}
main .container .item .btm .price {margin:15px 0;}
main .container .item .btm .cart {padding:15px 25px; background:#334d25; color:#fff;}